@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client here!</h4>
@using (Html.BeginForm())
{
  <h3>Client Name:</h3>
  @Html.TextBoxFor(model => model.ClientName)
  <h3>Client Appointment Date:</h3>
  @Html.TextBoxFor(model => model.ClientDate)
  <h3>Client Notes for Appointment:</h3>
  @Html.TextBoxFor(model => model.ClientNotes)
  <h3>What Stylist would this Client like to see?</h3>
  @Html.DropDownList("StylistId")
  <br>
  <input type="submit" value="Add new Client" />
}

<p>@Html.ActionLink("Show all Clients", "Index")</p>