@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
  <h1>Details for <strong>@Html.DisplayFor(model => model.ClientName)</strong></h1>
</div>
<hr />
<h3>Client Appointment Date:</h3>
<h5>@Html.DisplayFor(model => model.ClientDate)</h5>
<h3>Client Appointment Notes:</h3>
<h5>@Html.DisplayFor(model => model.ClientNotes)</h5>
<hr />
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>